body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("../images/library.png");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#formConnexion {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

#formConnexion h1 {
    text-align: center;
}

#formConnexion input[type="email"],
#formConnexion input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#formConnexion button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}

#formConnexion button:hover {
    background-color: #0056b3;
}

#messageErreur {
    color: red;
    text-align: center;
    margin-top: 15px;
}
